div{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background: pink;
	margin: 100px auto;
}
div::before{
	content: "1";
	display: block;
	height: 100%;
	width: 100%;
	background: red;
	transform: rotate(180deg);
	transform-origin: left bottom;
	transition: all 0.3s;
}
div:hover::before{
	transform: rotate(0deg);
}